*,
*:hover,
*::after {
  box-sizing: border-box;

  text-align: center;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: bisque;
}

.PictureContainer {
  background: url("pokemons.jpeg");
  /* background-attachment: fixed;
  background-size: cover; */
  overflow: scroll;

  height: 80vh;
  width: 90vw;
  margin-top: 5vh;

  border-radius: 15px;

  background-color: rgb(165, 165, 165);
}

.pictureContainer-image {
  max-width: 100%;
  height: auto;
}
