*,
*:hover,
*::after {
  box-sizing: border-box;

  text-align: center;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  background-color: bisque;
}

.PictureContainer {
  width: 100%;
}

.pictureContainer-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
